<div class="question">
  <p><%= @question %></p>
  <p><i>YOU</i></p>
</div>

<div class="answer">
  <p><%= @answer %></p>
  <p><i>COACH</i></p>
</div>

<div class="link">
  <%= link_to "Ask new question", ask_path %>
</div>
